.header {
    width: 100%;
    background: #000;
}

.nav_wrap {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #fff;
}

.logo {
    width: 15%;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 4px;
}

.logo a:hover {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav_item a {
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.nav_icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1.2rem;
    width: 10%;
    color: #fff;
}

.nav_icons span i {
    font-size: 1.4rem;
    cursor: pointer;
}

.cart_icon {
    position: relative;
}

.badge {
    position: absolute;
    top: 0%;
    right: -20%;
    width: 15px;
    height: 15px;
    content: '';
    background: #fff;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: .7rem;
    font-weight: 600;
    z-index: 10;
}

.mobile_menu {
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
}

.mobile_menu i {
    color: #fff;
}

.nav_active {
    font-weight: 700 !important;
}

.sticky_header {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(22, 22, 23, .8);
}

@media only screen and (max-width:992px) {
    .nav_wrap {
        height: 65px;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .9);
        z-index: 999;
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background: #000;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .active_menu {
        display: block;
    }

    .nav_item {
        line-height: 54px;
    }

    .nav_item a {
        font-size: 1.75rem;
        font-weight: 700;
        color: #fff;
    }

    .mobile_menu {
        display: block;
    }

    .mobile_menu span i {
        font-size: 1.3rem;
    }

    .logo,
    .nav_icons {
        width: 50%;
    }

    .logo h1 {
        font-size: 1.1rem;
    }

    .user_icon i,
    .cart_icon i {
        font-size: 1.4rem !important;
    }

    .sticky_header {
        height: 65px;
    }
}

@media only screen and (max-width:768px) {
    .nav_wrap {
        height: 60px;
        padding: 0 12px;
    }

    .mobile_menu span i {
        font-size: 1.1rem;
    }

    .logo {
        height: 34px;
    }

    .logo h1 {
        font-size: 1rem;
    }

    .fav_icon i,
    .cart_icon i {
        font-size: 1.2rem !important;
    }

    .sticky_header {
        height: 60px;
    }
}