.footer {
    padding: 3.8rem 0 1.8rem;
    background: var(--primary-color);
}

.footer .logo {
    width: 100%;
}

.footer_text {
    line-height: 30px;
    color: rgba(255, 255, 255, 0.735);
}

.footer_quick-links ul li {
    background: transparent !important;
}

.footer_quick-links ul li a {
    color: rgba(255, 255, 255, 0.735);
}

.quick_links-title {
    margin-bottom: 1.25rem;
    color: #fff;
    font-size: 1.1rem;
}

.footer_contact li span,
.footer_contact li p {
    color: rgba(255, 255, 255, 0.735);
}

.footer_contact li span {
    font-size: 1.2rem;
}

.footer_contact li p {
    font-size: .9rem;
}

.footer_copyright {
    color: rgba(255, 255, 255, 0.735);
    font-size: .9rem;
    margin-top: 3rem;
    text-align: center;
}